<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Ativar conta
        </ion-title>
        <ion-buttons slot="primary">
            <ion-button color="primary-contrast" (click)="logout()">
                <ion-icon slot="start" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>