<ion-header>
    <ion-toolbar>
        <ion-title>Abrir Conta</ion-title>
        <ion-buttons slot="primary">
            <ion-back-button text="Login" defaultHref="/login" icon="" color="tertiary" fill="outline"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>



    <div class="centered">
        <div class="register">
            <div class="error-box">
                <p class="error_input" *ngFor="let item of errors">
                    {{ item.msg }}
                </p>
            </div>
            <ion-list>
                <ion-item>
                    <ion-label position="floating">Nome de usuário</ion-label>
                    <ion-input type="text" (keyup)="checkUsername()" [(ngModel)]="username"></ion-input>
                    <span class="error_input">{{ usernameExistsError }}</span>
                </ion-item>
                <ion-row>
                    <ion-col size="4">
                        <ion-item>
                            <ion-label position="floating">País</ion-label>
                            <ion-select placeholder="Selecionar..." [(ngModel)]="country_phone_code">
                                <ion-select-option value="244">+244 Angola</ion-select-option>
                                <ion-select-option value="55">+55 Brasil</ion-select-option>
                                <ion-select-option value="351">+351 Portugal</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col size="8">
                        <ion-item>
                            <ion-label position="floating">Número de Telefone</ion-label>
                            <ion-input type="text" (keyup)="checkPhone()" [(ngModel)]="phone"></ion-input>
                           
                        </ion-item>
                    </ion-col>
                    <ion-col size="12">
                        <span class="error_input">{{ phoneExistsError }}</span>
                    </ion-col>
                </ion-row>
                
                <ion-item>
                    <ion-label position="floating">Chave de acesso</ion-label>
                    <ion-input type="password" [(ngModel)]="password"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Confirmar chave de acesso</ion-label>
                    <ion-input type="password" [(ngModel)]="confirm_password"></ion-input>
                </ion-item>
            </ion-list>

            <div>
                <ion-button expland="block" padding color="tertiary" (click)="registerUser()">Regista-te agora</ion-button>

            </div>
        </div>

    </div>



</ion-content>