<ion-header>
    <ion-toolbar>
        <ion-title>Iniciar sessão</ion-title>
        <ion-buttons slot="primary">
            <ion-button icon="" color="tertiary" fill="outline " (click)="formRegister() ">Regista-te</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="centered">

        <div class="login">
            <ion-label>Nome de usuário</ion-label>
            <ion-input type="text" [(ngModel)]="username"></ion-input>
            <br> <br>
            <ion-label>Senha</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>

            <a routerLink="/forgot">Esqueci minha senha</a>

        </div>

    </div>


</ion-content>

<ion-footer>
    <ion-button expland=" block " padding color="tertiary " (click)="login() ">Iniciar sessão</ion-button>
</ion-footer>